.navContainer {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000009c;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.767);
}

.back {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  background-color: #fff;
  color: #555;
  border-radius: 8px;
  border-style: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
}

.back:hover {
  background-color: #ccc;
  cursor: pointer;
}

.order,
.filter {
  width: 120px;
  position: absolute;
  top: 25px;
  z-index: 1;
}

.orderButton,
.filterButton {
  height: 30px;
  width: 100%;
  position: relative;
  background-color: #fff;
  color: #555;
  font-weight: 600;
  border-radius: 8px;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
  z-index: 2;
}

.orderButton.buttonPressed,
.filterButton.buttonPressed {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
  border-radius: 8px 8px 0px 0px;
}

.orderButton:hover,
.filterButton:hover {
  background-color: #ccc;
  cursor: pointer;
}

.order {
  right: 220px;
}

.filter {
  right: 80px;
}

.options {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
  z-index: 1;
}

.filterOptions,
.filterOptions2 {
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 120px;
  background-color: #fff;
  border-radius: 8px 0px 8px 8px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.767);
  z-index: 2;
}

.filterOptions {
  top: 8px;
  width: 140px;
}

.filterOptions2 {
  top: 39px;
  width: 200px;
}

.optionsWithSubmenu {
  border-radius: 0px 0px 8px 0px;
}

.option {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  background-color: #fff;
  border-style: none;
  overflow: hidden;
}

.option:hover,
.option1:hover .difficultyStar,
.lastOptionFilter:hover .season {
  background-color: #ccc;
  cursor: pointer;
}

.option i {
  margin-right: 5px;
  padding: 3px;
}

.filterContainer {
  display: flex;
  position: absolute;
  right: 5px;
}

.option1 {
  border-radius: 8px 0px 0px 0px;
}

.lastOption {
  border-radius: 0px 0px 8px 0px;
}

.lastOptionFilter {
  border-radius: 0px 0px 8px 8px;
}

.difficultyStar {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: goldenrod;
  border-style: none;
}

.difficultyStar i {
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.6))
}

.season {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-style: none;
}

.season i {
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.6))
}

.isSummer {
  color: goldenrod;
}

.isNotSummer {
  color: rgb(204, 186, 142);
}

.isAutumn {
  color: rgb(124, 75, 39);
}

.isNotAutumn {
  color: rgb(180, 170, 162);
}

.isWinter {
  color: aquamarine;
}

.isNotWinter {
  color: rgb(180, 202, 195);
}

.isSpring {
  color: rgb(53, 151, 50);
}

.isNotSpring {
  color: rgb(160, 197, 158);
}

.invisible {
  display: none;
}
