.navContainer {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000009c;
}

.title {
  position: absolute;
  margin: 0px;
  left: 90px;
  color: rgb(214, 255, 255);
  letter-spacing: 4px;
  text-shadow: 2px 2px 2px rgb(1, 27, 34);
  animation: fade-in-title 1s linear;
}

.back {
  left: 20px;
  width: 30px;
}

.home {
  right: 30px;
  width: 30px;
}

.activity {
  width: 100px;
  right: 360px;
  font-weight: 700;
  text-align: start;
  text-indent: 2px;
}

.activity i {
  margin-right: 5px;
}

.activity:hover i {
  color: rgb(65, 160, 65);
}

.button {
  height: 30px;
  position: absolute;
  background-color: #fff;
  color: #555;
  border-radius: 8px;
  border-style: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
}

.button:hover {
  background-color: #ccc;
  cursor: pointer;
}

.order,
.filter {
  width: 120px;
  position: absolute;
  top: 35px;
  z-index: 1;
}

.orderButton,
.filterButton {
  height: 30px;
  width: 100%;
  position: relative;
  background-color: #fff;
  color: #555;
  font-weight: 600;
  border-radius: 8px;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
  z-index: 2;
}

.orderButton.buttonPressed,
.filterButton.buttonPressed {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.288);
  border-radius: 8px 8px 0px 0px;
}

.orderButton:hover,
.filterButton:hover {
  background-color: #ccc;
  cursor: pointer;
}

.order {
  right: 220px;
}

.filter {
  right: 80px;
}

.options {
  height: fit-content;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.767);
  z-index: 1;
}

.filterOptions,
.filterOptions2 {
  height: fit-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 120px;
  background-color: #fff;
  border-radius: 8px 0px 8px 8px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.767);
  z-index: 2;
}

.filterOptions {
  top: 8px;
  width: 140px;
}

.filterOptions2 {
  top: 39px;
  width: 200px;
}

.optionsWithSubmenu {
  border-radius: 0px 0px 8px 0px;
}

.option,
.continentOption {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px;
  background-color: #fff;
  border-style: none;
  overflow: hidden;
}

.option:hover,
.continentOption:hover,
.option1:hover .difficultyStar,
.lastOptionFilter:hover .season {
  background-color: #ccc;
  cursor: pointer;
}

.option i,
.continentOption i {
  margin-right: 5px;
  padding: 3px;
}

.continentOption i {
  color: rgb(43, 53, 117);
}

.filterContainer {
  display: flex;
  position: absolute;
  right: 5px;
}

.option1 {
  border-radius: 8px 0px 0px 0px;
}

.lastOption {
  border-radius: 0px 0px 8px 0px;
}

.lastOptionFilter {
  border-radius: 0px 0px 8px 8px;
}

.difficultyStar {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: goldenrod;
  border-style: none;
}

.difficultyStar i {
  padding: 0px;
  margin: 0px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.6));
}

.season {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-style: none;
}

.season i {
  padding: 0px;
  margin: 0px;
  font-size: larger;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.6));
}

.isSummer {
  color: goldenrod;
}

.isNotSummer {
  color: rgb(204, 186, 142);
}

.isAutumn {
  color: rgb(124, 75, 39);
}

.isNotAutumn {
  color: rgb(180, 170, 162);
}

.isWinter {
  color: aquamarine;
}

.isNotWinter {
  color: rgb(180, 202, 195);
}

.isSpring {
  color: rgb(53, 151, 50);
}

.isNotSpring {
  color: rgb(160, 197, 158);
}

.invisible {
  display: none;
}

@keyframes fade-in-title {
  0% {
    opacity: 0;
    top: 40px;
  }
  100% {
    opacity: 1;
    top: 30px;
  }
}