.countryContainer {
  height: 130px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px;
  filter: drop-shadow(4px 4px 8px rgba(32, 32, 32, 0.705));
  transition: all 0.1s ease-in;
}

.countryContainer:hover {
  transform: scale(110%);
  cursor: pointer;
}
.countryContainer:hover .addActivity {
  display: block;
}

.flag {
  height: 100%;
  width: auto;
  min-width: 110px;
  max-width: 220px;
  z-index: 1;
}

.textContainer {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  color: white;
  overflow: hidden;
  z-index: 2;
}

.country,
.continent {
  width: 200px;
  position: absolute;
  bottom: 0px;
  margin: 0px;
  padding: 0px 5px 10px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.829);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  filter: drop-shadow(2px 2px 3px rgb(0, 0, 0))
}

.addActivity {
  height: 30px;
  width: 30px;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  padding: 0;
  background-color: rgba(161, 161, 161, 0.753);
  color: rgb(80, 80, 80);
  border: none;
  border-radius: 20%;
  font-weight: 700;
  font-size: x-large;
  text-align: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
}

.addActivity:hover {
  transform: scale(125%) translate(-40%, -40%);
}
