html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App,
.loginApp {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  background-image: url("resources/images/background.png");
}
.loginApp {
  background-image: url("resources/images/flags.png");
}
