.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.countriesContainer {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
}

.pages {
  width: 400px;
  height: 40px;
  margin: 10px;
  position: fixed;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 1px 1px 16px #1616167a, -1px 1px 16px #1616167a,
    -1px -1px 16px #1616167a, 1px -1px 16px #1616167a;
}

.pageButton {
  width: 100px;
  height: 40px;
  background-color: #f0f8ff;
  color: #555;
  border-style: hidden;
  font-weight: 800;
}

.pageButton:hover {
  background-color: #ccc;
  cursor: pointer;
}

.prevButton {
  border-radius: 10px 0px 0px 10px;
}
.nextButton {
  border-radius: 0px 10px 10px 0px;
}

.pageNumber {
  height: 40px;
  margin: 0px;
  display: flex;
  align-items: center;
  background-color: #f0f8ff;
  color: #555;
  font-weight: 800;
}

.socialsContainer {
  width: 100px;
  display: flex;
  position: fixed;
  left: 40px;
  bottom: 20px;
}

.socials {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.socials i {
  font-size: x-large;
  filter: drop-shadow(2px 2px 6px black);
}

.socials a:hover {
  color: #ccc;
  cursor: pointer;
}